pymongo[srv]
motor
pymongo
psutil
TgCrypto
pykeyboard
python-arq
requests
python-dotenv
regex!=2021.8.27
cachetools
uvloop
pytz
dateparser
gpytranslate
EmojiCaptcha
captcha
googletrans
telegraph
pyrogram==1.4.16
pyyaml
gitpython